body{
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#faf8ef;
}

h1{ 
    margin:20px; 
}

#game{
    background:#bbada0;
    padding:10px;
    border-radius:10px;
    display:grid;
    grid-template-columns:repeat(4,80px);
    grid-gap:10px;
}

.tile{
    width:80px;
    height:80px;
    background:#cdc1b4;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    font-weight:bold;
    color:#776e65;
}

.score{
    font-size:20px;
    margin-bottom:10px;
}

button{
    padding:8px 16px;
    margin:10px;
    font-size:16px;
    cursor:pointer;
    border-radius: 20px;
    border: none;
    background-color: #8f7a66;
    color: white;
}
button:hover{
    background-color: #9c8b7a;
    transform: translateY(-3px);
    transition: all 0.2s;
}

@media (max-width:400px){
    #game{
        gap:6px;
        padding:6px;
        grid-template-columns: repeat(4, min(14vw, 60px));
        grid-auto-rows: min(14vw, 60px);
    }
    .tile{
        width:100%;
        height:100%;
        font-size:clamp(14px, 4vw, 18px);
    }
}

body, html {
    overscroll-behavior-y: none;
    overflow-y: hidden;
}